PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
	id INTEGER NOT NULL, 
	email VARCHAR NOT NULL, 
	hashed_password VARCHAR NOT NULL, 
	roles VARCHAR, 
	PRIMARY KEY (id)
);
INSERT INTO users VALUES(1,'user@example.com','$2b$12$2DcV47JIVsKNXADjKUqpDerxu2a.fhDOyMeBOWsbKn2518NjJDDHy','user');
CREATE UNIQUE INDEX ix_users_email ON users (email);
CREATE INDEX ix_users_id ON users (id);
COMMIT;
